.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 2;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  margin-bottom: 0;
  transition: opacity 0.5s ease 0.1s;
}

.feynman__link:hover {
  opacity: 0.6;
}
