.cards__image {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 60px auto 43px;
  border-radius: 50%;
  background-size: cover;
}

.cards__image img {
    width: 160px;
    height: 160px;
}